.name {
  font-family: 'Inter';
  color: #000000;
  text-transform: capitalize;
}
.name_list {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.name_details {
  font-size: 26px;
  font-weight: 700px;
  line-height: 31.47px;
}
