.info_element {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.info_text {
  display: block;
  width: 20ch;
  height: 25px;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 510px) {
  .info_element {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
