.available_circle {
  border-style: solid;
  border-radius: 50%;
}

.is_available {
  border-color: #ffffff;
  background-color: #16ba44;
}

.not_available {
  border-color: #f4f6fe;
  background-color: #b1b9db;
}

.available__list {
  border-width: 2px;
  width: 12px;
  height: 12px;
}

.available__details {
  border-width: 4px;
  width: 23px;
  height: 23px;
}
