.status_cont {
  display: flex;
  width: auto;
  user-select: none;
}

.status_txt {
  display: flex;
  height: 24px;
  padding: 0 8px;
  border: 1px solid #b1b9db;
  border-radius: 20px;
  font-family: 'Inter';
  color: #b1b9db;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-transform: capitalize;
}
