.img {
  display: flex;
  width: auto;
  height: auto;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.img_list {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.img_details {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.img_gallery {
  width: 136px;
  height: 136px;
  object-fit: contain;
}